.t_right{
	text-align: right;
}

.select_opt{
    margin: 20px;
}

.m_top{
	margin-top: 20px;
}

.p_top{
	padding-top: 35px;
}

.m_top select{
	width: 180px;
}

.zy_left h4{
	text-align: center;
    width: 180px;
}

.zy_right h4{
    text-align: center;
}

.popover.bottom {
	margin-top: 10px; 
	margin-left:-50px;
	max-width: 376px;
}